/* .nav.nav-pills {
  border-radius: none !important;
} */
body {
  font-family: Vazirmatn, sans-serif;

  color: #272829;
}
A {
  text-decoration: none;
  color: #000;
}
ul li {
  list-style-type: none;
}

.nav-link:not(.active) {
  background: #81939c !important;
  padding: 1.09rem 45px;
  color: #fff;
}
.nav-link.active {
  padding: 1.09rem 45px;
}
.nav-link.active::after {
  border-right: 45px solid #0d6efd;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  height: auto;
  right: 100%;
  top: 0;
  border-top: 30px solid transparent !important;
  border-bottom: 30px solid transparent !important;
  /* border-right: 45px solid #b2b2b2 !important; */
}
.nav-link:hover {
  background: #0d6efd !important;
}

.inner {
  margin: 35px 0;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  /* padding: 0 30px 25px; */
}
.inner .card-header .heading {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  /* background: #0d6efd !important; */
  padding: 9px;
  background: #0d6efd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* margin: 0 -30px 24px; */
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}

.card-body__title {
}

@media screen and (max-width: 768px) {
  .tablist {
    flex-wrap: wrap;
  }
  .nav {
    width: 80%;
    /* margin-bottom: 25px; */
  }
}
